$icon-view-list: url("../images/icons/view-list.svg");
$icon-view-grid: url("../images/icons/view-grid.svg");
$icon-arrow: url("../images/icons/arrow.svg");
$icon-filter-variant: url("../images/icons/filter-variant.svg");