@charset "UTF-8";
.main-content {
  display: flex;
}
.main-content .nav-left {
  width: 20%;
}
.main-content .nav-left .departments {
  text-transform: capitalize;
  font-weight: bold;
  color: #2264D1;
  font-family: Arial, Helvetica, sans-serif;
  width: 80%;
  border: 1px solid #9dc2ff;
  text-align: center;
  border-radius: 6px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 24px;
  position: relative;
}
.main-content .nav-left .departments::before {
  position: absolute;
  content: " ";
  background-image: url("../images/icons/filter-variant.svg");
  width: 2rem;
  height: 2rem;
  top: calc(50% - 0.59em);
  left: 0px;
}
@media (min-width: 1340px) {
  .main-content .nav-left .departments::before {
    margin-left: 3%;
  }
}
.main-content .nav-left ul.list-category {
  margin-left: 1rem;
  margin-top: 2rem;
}
.main-content .nav-left ul.list-category,
.main-content .nav-left ul.list-category ul.categories {
  list-style: none;
  padding-left: 1.2rem;
}
.main-content .nav-left ul.list-category.arrow,
.main-content .nav-left ul.list-category ul.categories.arrow {
  position: relative;
}
.main-content .nav-left ul.list-category.arrow::before,
.main-content .nav-left ul.list-category ul.categories.arrow::before {
  content: " ";
  background-color: #76a9ff;
  -webkit-mask-image: url("../images/icons/arrow.svg");
  mask-image: url("../images/icons/arrow.svg");
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  position: absolute;
  width: 12px;
  height: 12px;
  left: -13px;
  top: 10px;
  font-weight: bold;
  transform: rotate(90deg);
}
.main-content .nav-left ul.list-category.arrow.arrow-open::before,
.main-content .nav-left ul.list-category ul.categories.arrow.arrow-open::before {
  transform: rotate(180deg);
  background-color: #2264D1;
  top: 8px;
}
.main-content .nav-left ul.list-category li.item,
.main-content .nav-left ul.list-category ul.categories li.item {
  cursor: pointer;
  margin-top: 1rem;
}
.main-content .nav-left ul.list-category li.item div.content,
.main-content .nav-left ul.list-category ul.categories li.item div.content {
  font-size: 1rem;
}
.main-content .nav-left ul.list-category li.item div.content .title,
.main-content .nav-left ul.list-category li.item div.content .caption,
.main-content .nav-left ul.list-category ul.categories li.item div.content .title,
.main-content .nav-left ul.list-category ul.categories li.item div.content .caption {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1.5px;
  text-transform: capitalize;
}
.main-content .nav-left ul.list-category li.item div.content .caption,
.main-content .nav-left ul.list-category ul.categories li.item div.content .caption {
  font-size: 0.8em;
  color: #9A9AA4;
}
.main-content .nav-left ul.list-category li.item div.content .caption::first-letter,
.main-content .nav-left ul.list-category ul.categories li.item div.content .caption::first-letter {
  text-transform: uppercase;
}
.main-content .nav-left ul.list-category li.item .btn,
.main-content .nav-left ul.list-category ul.categories li.item .btn {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #2264D1;
  text-transform: capitalize;
  line-height: 14px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: #EBF2FE;
  padding: 1rem 1rem;
  letter-spacing: 0.75px;
  width: 50%;
  text-align: left;
}
.main-content .nav-left ul.list-category li.item .btn.arrow,
.main-content .nav-left ul.list-category ul.categories li.item .btn.arrow {
  position: relative;
}
.main-content .nav-left ul.list-category li.item .btn.arrow::before,
.main-content .nav-left ul.list-category ul.categories li.item .btn.arrow::before {
  content: " ";
  background-color: #787885;
  -webkit-mask-image: url("../images/icons/arrow.svg");
  mask-image: url("../images/icons/arrow.svg");
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  position: absolute;
  width: 12px;
  height: 12px;
  right: 20px;
  top: calc(50% - 6px);
  font-weight: bold;
  transform: rotate(90deg);
}
.main-content .nav-left ul.list-category li.item .btn.arrow.arrow-open::before,
.main-content .nav-left ul.list-category ul.categories li.item .btn.arrow.arrow-open::before {
  top: calc(50% - 8px);
  transform: rotate(180deg);
}
.main-content .nav-left ul.list-category li.item .expand,
.main-content .nav-left ul.list-category ul.categories li.item .expand {
  text-align: center;
  width: 30%;
  font-size: 14px;
}
.main-content .nav-left div.filters {
  margin-top: 4rem;
  width: 80%;
}
.main-content .nav-left div.filters p.title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: black;
  letter-spacing: 0.8px;
  font-weight: 400;
  margin: 0px;
  padding: 15px;
}
.main-content .nav-left div.filters p.title.arrow {
  position: relative;
}
.main-content .nav-left div.filters p.title.arrow::before {
  content: " ";
  background-color: #76a9ff;
  -webkit-mask-image: url("../images/icons/arrow.svg");
  mask-image: url("../images/icons/arrow.svg");
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  position: absolute;
  width: 15px;
  height: 15px;
  right: 1.7em;
  top: calc(50% - 7.5px);
  font-weight: bold;
  transform: rotate(90deg);
}
.main-content .nav-left div.filters .collapsed {
  box-shadow: 0px 3px 4px 1px #cacacd;
  border-radius: 5px;
}
.main-content .nav-left div.filters .collapsed.arrow.arrow-open::before {
  top: calc(50% - 10px);
  transform: rotate(180deg);
  background-color: #2264D1;
}
.main-content .nav-left div.filters div.options {
  margin-top: 2rem;
  border-radius: 3px;
  background-color: #F3F5F9;
}
.main-content .nav-left div.filters div.options .arrow::before {
  background-color: #787885;
}
.main-content .nav-left div.filters div.options .arrow.arrow-open::before {
  top: calc(50% - 6.5px);
  transform: rotate(0deg);
  background-color: #787885;
}
.main-content .nav-left div.filters div.options .list {
  margin: 0;
  list-style: none;
  padding: 1rem;
  padding-top: 0px;
}
.main-content .nav-left div.filters div.options .list .item {
  margin-top: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: black;
  text-transform: capitalize;
  letter-spacing: 1px;
}
.main-content .nav-left div.filters div.options .list .item label {
  margin-left: 12px;
}
.main-content .nav-left div.filters div.options .list .item input[type=checkbox] {
  display: none;
  margin: 0px;
  padding: 0px;
  border: 0;
  cursor: pointer;
}
.main-content .nav-left div.filters div.options .list .item input[type=checkbox] + label {
  cursor: pointer;
}
.main-content .nav-left div.filters div.options .list .item input[type=checkbox] + label::before {
  content: " ";
  color: #2264D1;
  height: 20px;
  width: 20px;
  display: inline-block;
  text-align: center;
  font-weight: 900;
  vertical-align: middle;
  margin-right: 16px;
  font-size: 19px;
  cursor: pointer;
  border: 2px solid #535663;
  border-radius: 5px;
}
.main-content .nav-left div.filters div.options .list .item input[type=checkbox][type=checkbox]:checked + label::before {
  content: "√";
}
@media (max-width: 1280px) {
  .main-content .nav-left {
    display: none;
  }
}
.main-content .sections {
  width: 80%;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 0px 0px 9px -3px #5e6366;
}
@media (max-width: 1280px) {
  .main-content .sections {
    width: 100%;
  }
}
.main-content .sections .header-section .nav-section {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
@media (max-width: 970px) {
  .main-content .sections .header-section .nav-section {
    flex-direction: column-reverse;
    gap: 15px;
  }
}
.main-content .sections .header-section .nav-section .nav-sort {
  display: flex;
}
.main-content .sections .header-section .nav-section .nav-sort .form-select {
  margin-right: 1rem;
}
.main-content .sections .header-section .nav-section .nav-sort .form-select select {
  padding: 10px 34px 10px 12px;
  border-radius: 4px;
  font-size: 15px;
  background-color: transparent;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}
.main-content .sections .header-section .nav-section .nav-sort .form-select select:focus-visible, .main-content .sections .header-section .nav-section .nav-sort .form-select select option:focus-visible {
  overflow: hidden !important;
  outline: none;
}
.main-content .sections .header-section .nav-section .nav-sort .sort {
  position: relative;
}
.main-content .sections .header-section .nav-section .nav-sort .sort select {
  font-weight: bold;
}
.main-content .sections .header-section .nav-section .nav-sort .sort .form-label {
  position: absolute;
  height: 16px;
  left: 12px;
  top: -8px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #787885;
  background: white;
}
.main-content .sections .header-section .nav-section .nav-pages {
  display: flex;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  flex-direction: row;
  flex-wrap: wrap;
}
@media (max-width: 1020px) {
  .main-content .sections .header-section .nav-section .nav-pages {
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
}
@media (max-width: 999px) {
  .main-content .sections .header-section .nav-section .nav-pages {
    -moz-column-gap: 1rem;
         column-gap: 1rem;
  }
}
@media (max-width: 985px) {
  .main-content .sections .header-section .nav-section .nav-pages {
    -moz-column-gap: 5px;
         column-gap: 5px;
  }
}
@media (max-width: 985px) {
  .main-content .sections .header-section .nav-section .nav-pages {
    gap: 1.5rem;
  }
}
.main-content .sections .header-section .nav-section .nav-pages .views,
.main-content .sections .header-section .nav-section .nav-pages .pages {
  background-color: #EBF2FE;
  border-radius: 5px;
}
.main-content .sections .header-section .nav-section .nav-pages .list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}
.main-content .sections .header-section .nav-section .nav-pages .list .item {
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1.2px;
  color: #5A5B6A;
  padding: 4px 14px;
  line-height: 2.2rem;
}
@media (max-width: 530px) {
  .main-content .sections .header-section .nav-section .nav-pages .list .item {
    padding: 4px 10px;
  }
}
.main-content .sections .header-section .nav-section .nav-pages .list .item .icon {
  margin: 0 18px;
  background-color: #787885;
}
.main-content .sections .header-section .nav-section .nav-pages .list .item .icon.icon-view-grid {
  padding-right: 18px;
  -webkit-mask-image: url("../images/icons/view-grid.svg");
          mask-image: url("../images/icons/view-grid.svg");
}
.main-content .sections .header-section .nav-section .nav-pages .list .item .icon.icon-view-list {
  padding-right: 22px;
  -webkit-mask-image: url("../images/icons/view-list.svg");
          mask-image: url("../images/icons/view-list.svg");
}
.main-content .sections .header-section .nav-section .nav-pages .list .item .icon:hover {
  background-color: #2979FF;
}
.main-content .sections .header-section .nav-section .nav-pages .list .item.activate {
  background-color: #FFFFFF;
  border-radius: 5px;
  color: #2264D1;
  box-shadow: 0px 2px 4px 1px rgb(178, 182, 205);
}
.main-content .sections .header-section .nav-section .nav-pages .list .item.activate .icon {
  background-color: #2979FF;
}
.main-content .sections .header-section .related {
  margin-top: 43px;
}
.main-content .sections .header-section .related .list {
  list-style-type: none;
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 12px;
}
.main-content .sections .header-section .related .list .item {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: black;
  padding: 0.5rem 1rem;
  border-radius: 60px;
  background-color: #EDEDF0;
  letter-spacing: 1px;
  cursor: pointer;
}
.main-content .sections .header-section .related .list .item:first-child {
  background-color: transparent;
}
.main-content .sections .main-section .products {
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding: 20px 16px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}
.main-content .sections .main-section .products .product-item {
  text-align: center;
  margin-bottom: 10px !important;
  margin: 0 auto;
  cursor: pointer;
  transition: all 0.6s;
  border-radius: 5px;
}
.main-content .sections .main-section .products .product-item .product-photo-wrapper {
  width: 100%;
  height: 50%;
}
.main-content .sections .main-section .products .product-item .product-item-details {
  padding: 16px;
  text-align: left;
  margin: 0;
}
.main-content .sections .main-section .products .product-item .product-item-details .description {
  font-size: 16px;
  color: #19191d;
}
.main-content .sections .main-section .products .product-item .product-item-details .product-item-price {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
}
.main-content .sections .main-section .products .product-item .product-item-details .product-item-price .product-price {
  font-size: 20px !important;
  color: #000;
  font-weight: bolder;
}
.main-content .sections .main-section .products .product-item .product-item-details .product-item-price .discount {
  padding: 5px 16px;
  font-size: 12px;
  color: #37833b;
  background-color: #ecf7ed;
  border-radius: 5px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
}
.main-content .sections .main-section .products .product-item .product-item-details .product-item-note {
  color: #787885;
  margin-bottom: 10px;
}
.main-content .sections .main-section .products .product-item .product-item-details .product-item-reviews {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-content .sections .main-section .products .product-item .product-item-details .product-item-reviews .rating-stars {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-content .sections .main-section .products .product-item .product-item-details .product-item-reviews .rating-stars .star {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.main-content .sections .main-section .products .product-item .product-item-details .product-item-reviews .rating-stars .star li i {
  color: #fb8200;
  margin-right: 6px;
  padding: 6px 0px;
  font-size: 13px;
}
.main-content .sections .main-section .products .product-item .product-item-details .product-item-reviews .rating-stars .point-number {
  margin-left: 10px;
  color: #5e6366 !important;
  font-weight: bolder;
  font-size: 20px;
  display: block;
}
.main-content .sections .main-section .products .product-item .product-item-details .product-item-reviews .watch {
  background-color: transparent; /* Green */
  border: none;
  display: flex;
  justify-content: space-between;
  padding: 6px 10px;
  width: 90px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #9dc2ff;
  color: #2264d1;
  border-radius: 5px;
}
.main-content .sections .main-section .products .product-item:hover {
  transform: scale(1.05);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.main-content * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}/*# sourceMappingURL=style.css.map */