.departments {
    text-transform: capitalize;
    font-weight: bold;
    color: $color-primary;
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    border: 1px solid #9dc2ff;
    text-align: center;
    border-radius: 6px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 24px;
    position: relative;

    &::before {
        position: absolute;
        content: " ";
        background-image: $icon-filter-variant;
        width: 2rem;
        height: 2rem;
        top: calc(50% - 0.59em);
        left: 0px;
        margin-left: 1rem;
    }
}