.nav-section {
    display: flex;
    width: 100%;
    justify-content: space-between;

    .nav-sort {
        display: flex;

        .form-select {
            margin-right: 1rem;

            select {
                padding: 10px 34px 10px 12px;
                border-radius: 4px;
                font-size: 15px;
                background-color: transparent;
                appearance: none;
                cursor: pointer;

                &:focus-visible,
                & option:focus-visible {
                    overflow: hidden !important;
                    outline: none;
                }


            }
        }

        .sort {
            position: relative;

            select {
                font-weight: bold;
            }

            .form-label {
                position: absolute;
                height: 16px;
                left: 12px;
                top: -8px;
                font-family: $txt-font-default;
                font-style: normal;
                font-weight: 500;
                font-size: 10px;
                line-height: 16px;
                display: flex;
                align-items: center;
                letter-spacing: 1px;
                text-transform: uppercase;
                color: #787885;
                background: white;

            }
        }
    }

    .nav-pages {
        display: flex;

        .views,
        .pages {
            background-color: $bg-color-nav-pages;
            border-radius: 5px;
        }

        .pages {
            margin-right: 4rem;

        }

        .list {
            padding: 0;
            margin: 0;
            list-style: none;
            display: flex;

            .item {
                
                font-size: 15px;
                cursor: pointer;
                text-align: center;
                vertical-align: middle;
                font-family: $txt-font-default;
                letter-spacing: 1.2px;
                color: #5A5B6A;
                padding: 4px 14px;
                line-height: 2.2rem;



                & .icon {

                    margin: 0 18px;
                    background-color: #787885;

                    &.icon-view-grid {
                        padding-right: 18px;
                        mask-image: $icon-view-grid;
                    }

                    &.icon-view-list {
                        padding-right: 22px;
                        mask-image: $icon-view-list;
                    }

                    &:hover {
                        background-color: $bg-color-activate;
                    }
                }


                &.activate {
                    background-color: #FFFFFF;
                    border-radius: 5px;
                    color: $color-primary;
                    box-shadow: 0px 2px 4px 1px rgb(178 182 205);

                    & .icon {
                        background-color: $bg-color-activate;
                    }
                }
            }

        }
    }
}