.related {
    margin-top: 43px;

    .list {
        list-style-type: none;
        display: flex;
        padding: 0;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 12px;
        .item {
            @include formatText(16px, black, $txt-font-default);
        
            padding: 0.5rem 1rem;
            border-radius: 60px;
            background-color: #EDEDF0;
            letter-spacing: 1px;
            cursor: pointer;
           
          

            &:first-child {
                background-color: transparent;
                // padding: 0.8rem 0;
            }
        }
    }

}